In [1]:
import psycopg2
import csv
import os
import sys 
import time
assert os.environ.get('DB_PASS') != None , 'empty password!'

In [2]:
def create_table(conn, command):
    """
    Create a table in the PostgreSQL database from the specified command.
    """
    try:
        cur = conn.cursor()
        cur.execute(command)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        conn.rollback()


def insert_into_table(conn, command, csv_file):
    """
    Insert rows from a CSV file into table specified by the command.
    """
    cur = conn.cursor()
    with open(csv_file, newline='') as file:
        info_reader = csv.reader(file, delimiter=',')
        next(info_reader) # Skip header                                                                          
        for row in info_reader:                                           
            try:
                cur.execute(command, tuple(row))
            except (Exception, psycopg2.DatabaseError) as error:
                print(error)
                conn.rollback()
        conn.commit() 
        
def insert_into_trains(conn, command, arr_or_dep, csv_file):
    """
    Insert rows from trains CSV file into table specified by the command.
    """
    cur = conn.cursor()
    with open(csv_file, newline='') as file:
        info_reader = csv.reader(file, delimiter=',')
        next(info_reader) # Skip header                                                                          
        for row in info_reader:                                           
            try:
                cur.execute(command, tuple([arr_or_dep] + row))
            except (Exception, psycopg2.DatabaseError) as error:
                print(error)
                conn.rollback()
        conn.commit()

In [3]:
create_station_info = """ 
                      DROP TABLE IF EXISTS station_info CASCADE;
                      CREATE TABLE station_info (
                          station_code text UNIQUE PRIMARY KEY,
                          amtrak_station_name text,
                          crew_change boolean,
                          weather_location_name text,
                          longitude real,
                          latitude real,
                          nb_next_station text,
                          sb_next_station text,
                          nb_mile numeric,
                          sb_mile numeric,
                          nb_stop_num numeric,
                          sb_stop_num numeric,
                          nb_miles_to_next numeric,
                          sb_miles_to_next numeric
                      );
                      """

In [4]:
insert_into_station_info = """
                           INSERT INTO
                               station_info (
                                   station_code,
                                   amtrak_station_name,
                                   crew_change,
                                   weather_location_name,
                                   longitude,
                                   latitude,
                                   nb_next_station,
                                   sb_next_station,
                                   nb_mile,
                                   sb_mile,
                                   nb_stop_num,
                                   sb_stop_num,
                                   nb_miles_to_next,
                                   sb_miles_to_next

                             )
                         VALUES
                             (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
                         ON CONFLICT DO NOTHING;
                         """

In [5]:
create_stops = """
                 DROP TABLE IF EXISTS stops CASCADE;
                 CREATE TABLE stops (
                     stop_id SERIAL PRIMARY KEY,
                     arrival_or_departure text, 
                     train_num text,
                     station_code text REFERENCES station_info,
                     direction text,
                     origin_date date,
                     origin_year int,
                     origin_month int,
                     origin_week_day text,
                     full_sched_arr_dep_datetime timestamp,
                     sched_arr_dep_date date,
                     sched_arr_dep_week_day text,
                     sched_arr_dep_time time,
                     act_arr_dep_time time,
                     full_act_arr_dep_datetime timestamp,
                     timedelta_from_sched numeric,
                     service_disruption boolean,
                     cancellations boolean
                 );
               """

In [6]:
insert_into_stops = """
                    INSERT INTO
                        stops (
                            arrival_or_departure,
                            train_num,
                            station_code,
                            direction,
                            origin_date,
                            origin_year,
                            origin_month,
                            origin_week_day,
                            full_sched_arr_dep_datetime,
                            sched_arr_dep_date,
                            sched_arr_dep_week_day,
                            sched_arr_dep_time,
                            act_arr_dep_time,
                            full_act_arr_dep_datetime,
                            timedelta_from_sched,
                            service_disruption,
                            cancellations
                          )
                      VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
                      ON CONFLICT DO NOTHING;
                      """

In [7]:
create_weather = """
                 DROP TABLE IF EXISTS weather_hourly CASCADE;
                 CREATE TABLE weather_hourly (
                     weather_id SERIAL PRIMARY KEY,
                     location text,
                     obs_datetime timestamp,
                     temperature real,
                     precipitation real,
                     cloud_cover real,
                     weather_type text
                 );
                 """

insert_into_weather = """
                      INSERT INTO
                          weather_hourly (
                              location,
                              obs_datetime,
                              temperature,
                              precipitation,
                              cloud_cover,
                              weather_type
                      )
                      VALUES
                          (%s, %s, %s, %s, %s, %s) 
                      ON CONFLICT DO NOTHING;
                      """

In [8]:
create_route = """
               DROP TABLE IF EXISTS regional_route CASCADE;

               CREATE TABLE regional_route (
                 coord_id SERIAL PRIMARY KEY,
                 longitude real,
                 latitude real,
                 path_group numeric,
                 connecting_path text, 
                 nb_station_group text,
                 sb_station_group text
               );
               """

insert_into_route = """
                    INSERT INTO
                      regional_route (
                          longitude,
                          latitude, 
                          path_group,
                          connecting_path,
                          nb_station_group,
                          sb_station_group
                      )
                    VALUES 
                        (%s, %s, %s, %s, %s, %s) 
                    ON CONFLICT DO NOTHING;
                    """

In [9]:
conn = psycopg2.connect("dbname='amtrakproject' user={} password={}".format(os.environ.get('USER'), os.environ.get('DB_PASS')))
assert conn is not None, 'need to fix conn!!'

In [10]:
create_table_cmds = [create_station_info, create_stops, create_weather,  create_route]

In [11]:
for cmd in create_table_cmds:
    create_table(conn, cmd)

In [12]:
# Insert all station facts into station info table
insert_into_table(conn, insert_into_station_info, './data/facts/geo_stations_info.csv')

# Insert route with the coordiniates into route table
insert_into_table(conn, insert_into_route, './data/facts/NE_regional_lonlat.csv')

In [13]:
years = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]

begin_everything = time.time()

# Insert all train data into arrival and departure data tables
for year in years:
    start = time.time()
    arrive_csv = './data/trains/arrive_{}_processed.csv'.format(year)
    depart_csv = './data/trains/depart_{}_processed.csv'.format(year)
    insert_into_trains(conn, insert_into_stops, 'Arrival', arrive_csv)
    insert_into_trains(conn, insert_into_stops, 'Departure', depart_csv)
    print('Finished adding year', year, 'to database in', time.time() - start, 'seconds')
print('COMPLETE in', time.time() - begin_everything)

Finished adding year 2011 to database in 5.663474082946777 seconds
Finished adding year 2012 to database in 5.495461940765381 seconds
Finished adding year 2013 to database in 5.817842721939087 seconds
Finished adding year 2014 to database in 6.434165000915527 seconds
Finished adding year 2015 to database in 6.672756910324097 seconds
Finished adding year 2016 to database in 7.04805588722229 seconds
Finished adding year 2017 to database in 7.140243053436279 seconds
Finished adding year 2018 to database in 7.0521018505096436 seconds
Finished adding year 2019 to database in 7.28220009803772 seconds
Finished adding year 2020 to database in 5.1302149295806885 seconds
Finished adding year 2021 to database in 2.476821184158325 seconds
COMPLETE in 66.21438407897949

In [14]:
location_names_for_files = ['Boston_MA', 'Providence_RI', 'Kingston_RI', 'Westerly_RI', 'Mystic_CT',
                            'New_London_CT', 'Old_Saybrook_CT', 'New_Haven_CT', 'Bridgeport_CT', 
                            'Stamford_CT', 'New_Rochelle_NY', 'Manhattan_NY', 'Newark_NJ', 'Iselin_NJ', 
                            'Trenton_NJ', 'Philadelphia_PA', 'Wilmington_DE','Aberdeen_MD', 'Baltimore_MD',
                            'Baltimore_BWI_Airport_MD', 'New_Carrollton_MD', 'Washington_DC']

years = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]

# Insert all weather data into the weather data table
begin_everything = time.time()
for location in location_names_for_files:
    start = time.time()
    for year in years:
        weather_csv = './data/weather/{}_weather_subset_{}.csv'.format(location, year)
        insert_into_table(conn, insert_into_weather, weather_csv)
    print('Finished adding location', location, 'to database in', time.time() - start, 'seconds')
print("COMPLETE in", time.time() - begin_everything)

Finished adding location Boston_MA to database in 2.4495248794555664 seconds
Finished adding location Providence_RI to database in 2.433759927749634 seconds
Finished adding location Kingston_RI to database in 2.424021005630493 seconds
Finished adding location Westerly_RI to database in 2.4347922801971436 seconds
Finished adding location Mystic_CT to database in 2.42386794090271 seconds
Finished adding location New_London_CT to database in 2.419079303741455 seconds
Finished adding location Old_Saybrook_CT to database in 2.4785308837890625 seconds
Finished adding location New_Haven_CT to database in 2.4448800086975098 seconds
Finished adding location Bridgeport_CT to database in 2.457893133163452 seconds
Finished adding location Stamford_CT to database in 2.4361541271209717 seconds
Finished adding location New_Rochelle_NY to database in 2.4342281818389893 seconds
Finished adding location Manhattan_NY to database in 2.4408369064331055 seconds
Finished adding location Newark_NJ to database in 2.495572328567505 seconds
Finished adding location Iselin_NJ to database in 2.46441912651062 seconds
Finished adding location Trenton_NJ to database in 2.4480650424957275 seconds
Finished adding location Philadelphia_PA to database in 2.4130659103393555 seconds
Finished adding location Wilmington_DE to database in 2.414926767349243 seconds
Finished adding location Aberdeen_MD to database in 2.4096109867095947 seconds
Finished adding location Baltimore_MD to database in 2.4231438636779785 seconds
Finished adding location Baltimore_BWI_Airport_MD to database in 2.4846298694610596 seconds
Finished adding location New_Carrollton_MD to database in 2.4598960876464844 seconds
Finished adding location Washington_DC to database in 2.4243438243865967 seconds
COMPLETE in 53.717385053634644

In [15]:
%load_ext sql

In [16]:
%sql postgresql://elizabethchen:test@localhost:5432/amtrakproject

In [17]:
%%sql

SELECT
    COUNT(*)
FROM
    stops;

 * postgresql://elizabethchen:***@localhost:5432/amtrakproject
1 rows affected.

[(1407645,)]

In [18]:
%%sql

SELECT
    COUNT(*)
FROM
    weather_hourly;

 * postgresql://elizabethchen:***@localhost:5432/amtrakproject
1 rows affected.

[(2009542,)]

In [21]:
%%sql

SELECT
    COUNT(*)
FROM
    regional_route;

 * postgresql://elizabethchen:***@localhost:5432/amtrakproject
1 rows affected.

[(9552,)]

In [20]:
%%sql

SELECT
    COUNT(*)
FROM
    station_info;

 * postgresql://elizabethchen:***@localhost:5432/amtrakproject
1 rows affected.

[(25,)]