# ETL and EDA Notebook

# Part 1 - Amtrak Northeast Regional Train Data
* This project would not be possible without the diligent joint effort by [Chris Juckins](https://juckins.net/index.php) and [John Bobinyec](http://dixielandsoftware.net/Amtrak/status/StatusMaps/) to collect and preserve Amtrak's on-time performance records. Chris Juckins' archive of timetables was another invaluable resource which enabled me to sort through the trains and stations I chose to use in this project.
* The train data is sourced from [Amtrak Status Maps Archive Database (ASMAD)](https://juckins.net/amtrak_status/archive/html/home.php), and has been retrieved with Chris' permission.

### Overview of the Process
* Functions were written to scrape the HTML table returned from the search query and to process each column to the desired format
* Additional columns were also added during processing to aid in joining the train data with weather data

### Setup

In [ ]:
import time
import requests
import re
import lxml.html as lh
import pandas as pd
import numpy as np
from datetime import date, timedelta
from trains_retrieve_and_process_data import *

### Retrieve HTML table data and recreate as a Pandas DataFrame
* Default is to collect data from the previous day (run after 5am or else no data will be retrieved, ASMAD updates around 4am)
* Collects both arrival and departure data and stores in a dictionary further indexed by station

In [ ]:
start = date(2021,4,25)
end = date(2021,6,1)

In [ ]:
raw_data = retrieve_data(start=start, end=end)

In [ ]:
depart =  raw_data_to_raw_df(raw_data, 'Depart')
print(depart.shape[0])
depart.tail()

In [ ]:
arrive = raw_data_to_raw_df(raw_data, 'Arrive')
print(arrive.shape[0])
arrive.tail()

### Save the raw DF to disk

In [ ]:
arrive_filestring = './data/trains_raw/arrive_raw_{}_{}.csv'.format(str(start), str(end))
depart_filestring = './data/trains_raw/depart_raw_{}_{}.csv'.format(str(start), str(end))

arrive.to_csv(arrive_filestring, line_terminator='\n', index=False)
depart.to_csv(depart_filestring, line_terminator='\n', index=False)

### Process the raw DF with modifications/additions 
* Modifications to the data:
    * Separate the Origin Date and Origin Week Day  into two columns
    * Add separate columns for Origin Year and Origin Month
    * Separate the Scheduled Arrival/Departure Date, Scheduled Arrival/Departure Week Day, and Scheduled Arrival/Departure Time into three seperate columns
    * Calculate the value of the time difference between Scheduled and Actual Arrival/Departure
    * Convert Service Disruption and Cancellation column text flags to binary indicator columns

In [ ]:
full_arrive = process_columns(arrive, 'Arrive')
full_arrive.head()

In [ ]:
full_depart = process_columns(depart, "Depart")
full_depart.head()

### For new 2021 data, concatenate with previously retrieved and processed data from this year

In [ ]:
arrive_filestring2021 = './data/trains/arrive_2021_processed.csv'
depart_filestring2021 = './data/trains/depart_2021_processed.csv'
        
prev_arrive2021 = pd.read_csv(arrive_filestring2021)
prev_depart2021 = pd.read_csv(depart_filestring2021)

In [ ]:
new_arrive2021 = pd.concat([prev_arrive2021, full_arrive], ignore_index=True, axis=0)
new_depart2021 = pd.concat([prev_depart2021, full_depart], ignore_index=True, axis=0)

In [ ]:
new_arrive2021.shape[0]

In [ ]:
new_depart2021.shape[0]

### Drop duplicate rows

In [ ]:
new_arrive2021.drop_duplicates(inplace = True, ignore_index = True)
new_arrive2021.shape[0]

In [ ]:
new_depart2021.drop_duplicates(inplace = True, ignore_index = True)
new_depart2021.shape[0]

In [ ]:
new_arrive2021.head()

In [ ]:
new_arrive2021.tail()

In [ ]:
new_depart2021.head()

In [ ]:
new_depart2021.tail()

In [ ]:
new_arrive2021.to_csv(arrive_filestring2021, line_terminator='\n', index=False)
new_depart2021.to_csv(depart_filestring2021, line_terminator='\n', index=False)

# Part 2 - Visual Crossing Weather Data

### Setup

In [1]:
import requests
import os
import pandas as pd
import numpy as np
from datetime import date, timedelta

In [2]:
from weather_retrieve_and_process_data import *
assert os.environ.get('VC_TOKEN') is not None , 'empty token!'

### Retrieve unprocessed data

In [3]:
start = str(date(2021,4,25))
end = str(date.today()-timedelta(days=1))

In [4]:
successful_retrievals = retrieve_weather_data(start, end)

Retrieving data for LOCATION: Boston_MA
    and DATE RANGE: 2021-04-25T00:00:00 to 2021-06-01T23:59:00
Retrieving data for LOCATION: Providence_RI
    and DATE RANGE: 2021-04-25T00:00:00 to 2021-06-01T23:59:00
Retrieving data for LOCATION: Kingston_RI
    and DATE RANGE: 2021-04-25T00:00:00 to 2021-06-01T23:59:00
Retrieving data for LOCATION: Westerly_RI
    and DATE RANGE: 2021-04-25T00:00:00 to 2021-06-01T23:59:00
Retrieving data for LOCATION: Mystic_CT
    and DATE RANGE: 2021-04-25T00:00:00 to 2021-06-01T23:59:00
Retrieving data for LOCATION: New_London_CT
    and DATE RANGE: 2021-04-25T00:00:00 to 2021-06-01T23:59:00
Retrieving data for LOCATION: Old_Saybrook_CT
    and DATE RANGE: 2021-04-25T00:00:00 to 2021-06-01T23:59:00
Retrieving data for LOCATION: New_Haven_CT
    and DATE RANGE: 2021-04-25T00:00:00 to 2021-06-01T23:59:00
Retrieving data for LOCATION: Bridgeport_CT
    and DATE RANGE: 2021-04-25T00:00:00 to 2021-06-01T23:59:00
Retrieving data for LOCATION: Stamford_CT
    and DATE RANGE: 2021-04-25T00:00:00 to 2021-06-01T23:59:00
Retrieving data for LOCATION: New_Rochelle_NY
    and DATE RANGE: 2021-04-25T00:00:00 to 2021-06-01T23:59:00
Retrieving data for LOCATION: Manhattan_NY
    and DATE RANGE: 2021-04-25T00:00:00 to 2021-06-01T23:59:00
Retrieving data for LOCATION: Newark_NJ
    and DATE RANGE: 2021-04-25T00:00:00 to 2021-06-01T23:59:00
Retrieving data for LOCATION: Iselin_NJ
    and DATE RANGE: 2021-04-25T00:00:00 to 2021-06-01T23:59:00
Retrieving data for LOCATION: Trenton_NJ
    and DATE RANGE: 2021-04-25T00:00:00 to 2021-06-01T23:59:00
Retrieving data for LOCATION: Philadelphia_PA
    and DATE RANGE: 2021-04-25T00:00:00 to 2021-06-01T23:59:00
Retrieving data for LOCATION: Wilmington_DE
    and DATE RANGE: 2021-04-25T00:00:00 to 2021-06-01T23:59:00
Retrieving data for LOCATION: Aberdeen_MD
    and DATE RANGE: 2021-04-25T00:00:00 to 2021-06-01T23:59:00
Retrieving data for LOCATION: Baltimore_MD
    and DATE RANGE: 2021-04-25T00:00:00 to 2021-06-01T23:59:00
Retrieving data for LOCATION: Baltimore_BWI_Airport_MD
    and DATE RANGE: 2021-04-25T00:00:00 to 2021-06-01T23:59:00
Retrieving data for LOCATION: New_Carrollton_MD
    and DATE RANGE: 2021-04-25T00:00:00 to 2021-06-01T23:59:00
Retrieving data for LOCATION: Washington_DC
    and DATE RANGE: 2021-04-25T00:00:00 to 2021-06-01T23:59:00
Successfully collected data has been saved at the following filenames:
        FILE:   ./data/weather_raw/Boston_MA_weather_data_2021-04-25_2021-06-01.csv
        FILE:   ./data/weather_raw/Providence_RI_weather_data_2021-04-25_2021-06-01.csv
        FILE:   ./data/weather_raw/Kingston_RI_weather_data_2021-04-25_2021-06-01.csv
        FILE:   ./data/weather_raw/Westerly_RI_weather_data_2021-04-25_2021-06-01.csv
        FILE:   ./data/weather_raw/Mystic_CT_weather_data_2021-04-25_2021-06-01.csv
        FILE:   ./data/weather_raw/New_London_CT_weather_data_2021-04-25_2021-06-01.csv
        FILE:   ./data/weather_raw/Old_Saybrook_CT_weather_data_2021-04-25_2021-06-01.csv
        FILE:   ./data/weather_raw/New_Haven_CT_weather_data_2021-04-25_2021-06-01.csv
        FILE:   ./data/weather_raw/Bridgeport_CT_weather_data_2021-04-25_2021-06-01.csv
        FILE:   ./data/weather_raw/Stamford_CT_weather_data_2021-04-25_2021-06-01.csv
        FILE:   ./data/weather_raw/New_Rochelle_NY_weather_data_2021-04-25_2021-06-01.csv
        FILE:   ./data/weather_raw/Manhattan_NY_weather_data_2021-04-25_2021-06-01.csv
        FILE:   ./data/weather_raw/Newark_NJ_weather_data_2021-04-25_2021-06-01.csv
        FILE:   ./data/weather_raw/Iselin_NJ_weather_data_2021-04-25_2021-06-01.csv
        FILE:   ./data/weather_raw/Trenton_NJ_weather_data_2021-04-25_2021-06-01.csv
        FILE:   ./data/weather_raw/Philadelphia_PA_weather_data_2021-04-25_2021-06-01.csv
        FILE:   ./data/weather_raw/Wilmington_DE_weather_data_2021-04-25_2021-06-01.csv
        FILE:   ./data/weather_raw/Aberdeen_MD_weather_data_2021-04-25_2021-06-01.csv
        FILE:   ./data/weather_raw/Baltimore_MD_weather_data_2021-04-25_2021-06-01.csv
        FILE:   ./data/weather_raw/Baltimore_BWI_Airport_MD_weather_data_2021-04-25_2021-06-01.csv
        FILE:   ./data/weather_raw/New_Carrollton_MD_weather_data_2021-04-25_2021-06-01.csv
        FILE:   ./data/weather_raw/Washington_DC_weather_data_2021-04-25_2021-06-01.csv

### Data Cleaning/Taking Subset of Columns

* Processing recent data by year - add new columns, make minor fixes to string format, take subset of full columns list.
* Function processes the files that were successfully created in the previous step.
* This part is assuming 2021 data is being read and concatenates the previously retrieved data with the new data to create a single combined file.
* Output shows the fraction of the data kept, data is valid and complete almost always ($> 99\%$ of original data has been retained)

In [5]:
process_weather_data(files_to_process=successful_retrievals)

Successfully processed and combined the following raw data files with previous data:
        FILE:          ./data/weather/Boston_MA_weather_subset_2021.csv
        FRACTION KEPT: 0.18311403508771928
        FILE:          ./data/weather/Providence_RI_weather_subset_2021.csv
        FRACTION KEPT: 0.23135964912280702
        FILE:          ./data/weather/Kingston_RI_weather_subset_2021.csv
        FRACTION KEPT: 0.18859649122807018
        FILE:          ./data/weather/Westerly_RI_weather_subset_2021.csv
        FRACTION KEPT: 0.15460526315789475
        FILE:          ./data/weather/Mystic_CT_weather_subset_2021.csv
        FRACTION KEPT: 0.15460526315789475
        FILE:          ./data/weather/New_London_CT_weather_subset_2021.csv
        FRACTION KEPT: 0.15460526315789475
        FILE:          ./data/weather/Old_Saybrook_CT_weather_subset_2021.csv
        FRACTION KEPT: 0.20614035087719298
        FILE:          ./data/weather/New_Haven_CT_weather_subset_2021.csv
        FRACTION KEPT: 0.17653508771929824
        FILE:          ./data/weather/Bridgeport_CT_weather_subset_2021.csv
        FRACTION KEPT: 0.1699561403508772
        FILE:          ./data/weather/Stamford_CT_weather_subset_2021.csv
        FRACTION KEPT: 0.1787280701754386
        FILE:          ./data/weather/New_Rochelle_NY_weather_subset_2021.csv
        FRACTION KEPT: 0.16885964912280702
        FILE:          ./data/weather/Manhattan_NY_weather_subset_2021.csv
        FRACTION KEPT: 0.13596491228070176
        FILE:          ./data/weather/Newark_NJ_weather_subset_2021.csv
        FRACTION KEPT: 0.16776315789473684
        FILE:          ./data/weather/Iselin_NJ_weather_subset_2021.csv
        FRACTION KEPT: 0.17543859649122806
        FILE:          ./data/weather/Trenton_NJ_weather_subset_2021.csv
        FRACTION KEPT: 0.14583333333333334
        FILE:          ./data/weather/Philadelphia_PA_weather_subset_2021.csv
        FRACTION KEPT: 0.14912280701754385
        FILE:          ./data/weather/Wilmington_DE_weather_subset_2021.csv
        FRACTION KEPT: 0.1513157894736842
        FILE:          ./data/weather/Aberdeen_MD_weather_subset_2021.csv
        FRACTION KEPT: 0.13157894736842105
        FILE:          ./data/weather/Baltimore_MD_weather_subset_2021.csv
        FRACTION KEPT: 0.13048245614035087
        FILE:          ./data/weather/Baltimore_BWI_Airport_MD_weather_subset_2021.csv
        FRACTION KEPT: 0.13048245614035087
        FILE:          ./data/weather/New_Carrollton_MD_weather_subset_2021.csv
        FRACTION KEPT: 0.13267543859649122
        FILE:          ./data/weather/Washington_DC_weather_subset_2021.csv
        FRACTION KEPT: 0.12609649122807018

### Data sample for viewing

In [ ]:
sample = pd.read_csv('./data/weather/Providence_RI_weather_2021_subset.csv')
sample.head()

In [ ]:
sample.tail()

# Part 3a: Loading Data into Postgres Database (Composite Primary Key)

### Setup

In [ ]:
import psycopg2
import csv
import os
import sys 
import time
assert os.environ.get('DB_PASS') != None , 'empty password!'

#### Functions to create and update tables in the database

In [ ]:
def create_table(conn, command):
    """
    Create a table in the PostgreSQL database from the specified command.
    """
    try:
        cur = conn.cursor()
        cur.execute(command)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        conn.rollback()


def update_table(conn, command, csv_file):
    """
    Insert rows from a CSV file into table specified by the command.
    """
    cur = conn.cursor()
    with open(csv_file, newline='') as file:
        info_reader = csv.reader(file, delimiter=',')
        next(info_reader) # Skip header                                                                          
        for row in info_reader:                                           
            try:
                cur.execute(command, tuple(row))
            except (Exception, psycopg2.DatabaseError) as error:
                print(error)
                conn.rollback()
        conn.commit() 
        
def update_trains(conn, command, arr_or_dep, csv_file):
    """
    Insert rows from trains CSV file into table specified by the command.
    """
    cur = conn.cursor()
    with open(csv_file, newline='') as file:
        info_reader = csv.reader(file, delimiter=',')
        next(info_reader) # Skip header                                                                          
        for row in info_reader:                                           
            try:
                cur.execute(command, tuple([arr_or_dep] + row))
            except (Exception, psycopg2.DatabaseError) as error:
                print(error)
                conn.rollback()
        conn.commit()

In [ ]:
create_station_info_table_command = """ 
                                    DROP TABLE IF EXISTS station_info CASCADE;

                                    CREATE TABLE station_info (
                                        station_code text PRIMARY KEY,
                                        station_name text,
                                        state text,
                                        amtrak_city text,
                                        weather_loc text,
                                        longitude real,
                                        latitude real,
                                        nb_mile numeric,
                                        sb_mile numeric
                                    );
                                    """

insert_into_station_info_table_command = """
                                         INSERT INTO station_info (
                                             station_code,
                                             station_name,
                                             state,
                                             amtrak_city,
                                             weather_loc,
                                             longitude,
                                             latitude,
                                             nb_mile,
                                             sb_mile
                                        )
                                        VALUES
                                            (%s, %s, %s, %s, %s, %s, %s, %s, %s)
                                        ON CONFLICT DO NOTHING;
                                        """

In [ ]:
create_trains_table_command = """ 
                              DROP TABLE IF EXISTS all_trains CASCADE;
                              CREATE TABLE all_trains (
                                  arr_or_dep text,
                                  train_num text,
                                  station_code text REFERENCES station_info (station_code), 
                                  direction text,
                                  origin_date date,
                                  origin_year int,
                                  origin_month int,
                                  origin_week_day text,
                                  full_sched_arr_dep_datetime timestamp,
                                  sched_arr_dep_date date,
                                  sched_arr_dep_week_day text,
                                  sched_arr_dep_time time,
                                  act_arr_dep_time time,
                                  full_act_arr_dep_datetime timestamp,
                                  timedelta_from_sched numeric,
                                  service_disruption boolean,
                                  cancellations boolean,
                                  PRIMARY KEY (train_num, station_code, origin_date)
                              );
                              """

insert_into_trains_table_command = """
                                     INSERT INTO all_trains (
                                          arr_or_dep,
                                          train_num,
                                          station_code,
                                          direction,
                                          origin_date,
                                          origin_year,
                                          origin_month,
                                          origin_week_day,
                                          full_sched_arr_dep_datetime,
                                          sched_arr_dep_date,
                                          sched_arr_dep_week_day,
                                          sched_arr_dep_time,
                                          act_arr_dep_time,
                                          full_act_arr_dep_datetime,
                                          timedelta_from_sched,
                                          service_disruption,
                                          cancellations
                                     )
                                     VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
                                     ON CONFLICT DO NOTHING; 
                                     """

In [ ]:
create_weather_table_command = """
                               DROP TABLE IF EXISTS weather_hourly CASCADE;
                               CREATE TABLE weather_hourly (
                                   location text,
                                   date_time timestamp,
                                   temperature real,
                                   precipitation real,
                                   cloud_cover real,
                                   conditions text, 
                                   weather_type text,
                                   latitude real,
                                   longitude real,
                                   PRIMARY KEY (date_time, location)
                               );
                               """

insert_into_weather_table_command = """
                                    INSERT INTO weather_hourly (
                                        location,
                                        date_time,
                                        temperature,
                                        precipitation,
                                        cloud_cover,
                                        conditions,
                                        weather_type,
                                        latitude,
                                        longitude
                                    )
                                    VALUES
                                        (%s, %s, %s, %s, %s, %s, %s, %s, %s) 
                                    ON CONFLICT DO NOTHING;
                                    """

In [ ]:
create_route_table_command = """
                             DROP TABLE IF EXISTS regional_route CASCADE;
                            
                             CREATE TABLE regional_route (
                                 coord_id SERIAL PRIMARY KEY,
                                 longitude real,
                                 latitude real,
                                 path_group numeric,
                                 connecting_path text, 
                                 nb_station_group text,
                                 sb_station_group text
                             );
                             """

insert_into_route_table_command = """
                                  INSERT INTO regional_route (
                                      longitude,
                                      latitude, 
                                      path_group,
                                      connecting_path,
                                      nb_station_group,
                                      sb_station_group
                                  )
                                  VALUES 
                                      (%s, %s, %s, %s, %s, %s) 
                                  ON CONFLICT DO NOTHING;
                                  """

In [ ]:
create_table_commands = [create_station_info_table_command,
                         create_trains_table_command,
                         create_weather_table_command,
                         create_route_table_command]

In [ ]:
conn = psycopg2.connect("dbname='amtrakproject' user='{}' password={}".format(os.environ.get('USER'), os.environ.get('DB_PASS')))
assert conn is not None, 'need to fix conn!!'

In [ ]:
for command in create_table_commands:
    create_table(conn, command)

In [ ]:
# Insert all station facts into station info table
update_table(conn, insert_into_station_info_table_command, './data/facts/geo_stations_info.csv')

# Insert route with the coordiniates into route table
update_table(conn, insert_into_route_table_command, './data/facts/NE_regional_lonlat.csv')

In [ ]:
create_table(conn, create_trains_table_command)
years = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]

begin_everything = time.time()

# Insert all train data into arrival and departure data tables
for year in years:
    start = time.time()
    arrive_csv = './data/trains/arrive_{}_processed.csv'.format(year)
    depart_csv = './data/trains/depart_{}_processed.csv'.format(year)
    update_trains(conn, insert_into_trains_table_command, 'Arrival', arrive_csv)
    update_trains(conn, insert_into_trains_table_command, 'Departure', depart_csv)
    print('DONE WITH', year, 'in', time.time() - start)
print('COMPLETE in', time.time() - begin_everything)

In [ ]:
create_table(conn, create_weather_table_command)
location_names_for_files = ['Boston_MA', 'Providence_RI', 'Kingston_RI', 'Westerly_RI', 'Mystic_CT',
                            'New_London_CT', 'Old_Saybrook_CT', 'New_Haven_CT', 'Bridgeport_CT', 
                            'Stamford_CT', 'New_Rochelle_NY', 'Manhattan_NY', 'Newark_NJ', 'Iselin_NJ', 
                            'Trenton_NJ', 'Philadelphia_PA', 'Wilmington_DE','Aberdeen_MD', 'Baltimore_MD',
                            'Baltimore_BWI_Airport_MD', 'New_Carrollton_MD', 'Washington_DC']

years = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]

# Insert all weather data into the weather data table
begin_everything = time.time()
for location in location_names_for_files:
    start = time.time()
    for year in years:
        weather_csv = './data/weather/{}_weather_subset_{}.csv'.format(location, year)
        update_table(conn, insert_into_weather_table_command, weather_csv)
    print('Finished adding location', location, 'to the database in', time.time() - start, 'seconds')
print("COMPLETE in", time.time() - begin_everything)

# Part 3b: Loading Data into Postgres Database (Serial Primary Key)

### Setup

In [ ]:
import psycopg2
import csv
import os
import sys 
import time
assert os.environ.get('DB_PASS') != None , 'empty password!'

In [ ]:
def create_table(conn, command):
    """
    Create a table in the PostgreSQL database from the specified command.
    """
    try:
        cur = conn.cursor()
        cur.execute(command)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        conn.rollback()


def update_table(conn, command, csv_file):
    """
    Insert rows from a CSV file into table specified by the command.
    """
    cur = conn.cursor()
    with open(csv_file, newline='') as file:
        info_reader = csv.reader(file, delimiter=',')
        next(info_reader) # Skip header                                                                          
        for row in info_reader:                                           
            try:
                cur.execute(command, tuple(row))
            except (Exception, psycopg2.DatabaseError) as error:
                print(error)
                conn.rollback()
        conn.commit() 
        
def update_trains(conn, command, arr_or_dep, csv_file):
    """
    Insert rows from trains CSV file into table specified by the command.
    """
    cur = conn.cursor()
    with open(csv_file, newline='') as file:
        info_reader = csv.reader(file, delimiter=',')
        next(info_reader) # Skip header                                                                          
        for row in info_reader:                                           
            try:
                cur.execute(command, tuple([arr_or_dep] + row))
            except (Exception, psycopg2.DatabaseError) as error:
                print(error)
                conn.rollback()
        conn.commit()

In [ ]:
create_station_info_table = """ 
                            DROP TABLE IF EXISTS station_info CASCADE;

                            CREATE TABLE station_info (
                                station_id SERIAL PRIMARY KEY,
                                station_code text,
                                amtrak_station text,
                                crew_change boolean,
                                weather_station text,
                                longitude real,
                                latitude real,
                                nb_mile numeric,
                                sb_mile numeric
                            );
                            """

insert_into_station_info_table = """
                                 INSERT INTO station_info (
                                     station_code,
                                     amtrak_station,
                                     crew_change,
                                     weather_station,
                                     longitude,
                                     latitude,
                                     nb_mile,
                                     sb_mile
                                 )
                                 VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
                                 ON CONFLICT DO NOTHING;
                                 """

In [ ]:
create_trains_table = """ 
                      DROP TABLE IF EXISTS all_trains CASCADE;
                      
                      CREATE TABLE all_trains (
                          dataset_id SERIAL PRIMARY KEY,
                          arr_or_dep text,
                          train_num text,
                          station_code text, 
                          direction text,
                          origin_date date,
                          origin_year int,
                          origin_month int,
                          origin_week_day text,
                          full_sched_arr_dep_datetime timestamp,
                          sched_arr_dep_date date,
                          sched_arr_dep_week_day text,
                          sched_arr_dep_time time,
                          act_arr_dep_time time,
                          full_act_arr_dep_datetime timestamp,
                          timedelta_from_sched numeric,
                          service_disruption boolean,
                          cancellations boolean
                      );
                      """

insert_into_trains_table = """
                           INSERT INTO all_trains (
                               arr_or_dep,
                               train_num,
                               station_code,
                               direction,
                               origin_date,
                               origin_year,
                               origin_month,
                               origin_week_day,
                               full_sched_arr_dep_datetime,
                               sched_arr_dep_date,
                               sched_arr_dep_week_day,
                               sched_arr_dep_time,
                               act_arr_dep_time,
                               full_act_arr_dep_datetime,
                               timedelta_from_sched,
                               service_disruption,
                               cancellations
                          )
                          VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
                          ON CONFLICT DO NOTHING; 
                          """

In [ ]:
create_weather_table = """
                       DROP TABLE IF EXISTS weather_hourly CASCADE;
                       CREATE TABLE weather_hourly (
                           weather_id SERIAL PRIMARY KEY,
                           location text,
                           date_time timestamp,
                           temperature real,
                           precipitation real,
                           cloud_cover real,
                           conditions text, 
                           weather_type text,
                           latitude real,
                           longitude real
                       );
                       """

insert_into_weather_table = """
                            INSERT INTO weather_hourly (
                                location,
                                date_time,
                                temperature,
                                precipitation,
                                cloud_cover,
                                conditions,
                                weather_type,
                                latitude,
                                longitude
                            )
                            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s) 
                            ON CONFLICT DO NOTHING;
                            """

In [ ]:
create_route_table = """
                     DROP TABLE IF EXISTS regional_route CASCADE;

                     CREATE TABLE regional_route (
                         coord_id SERIAL PRIMARY KEY,
                         longitude real,
                         latitude real,
                         path_group int,
                         station_pairing text, 
                         nb_station_group text,
                         sb_station_group text
                     );
                     """

insert_into_route_table = """
                          INSERT INTO
                              regional_route (
                                  longitude,
                                  latitude, 
                                  path_group,
                                  station_pairing,
                                  nb_station_group,
                                  sb_station_group
                              )
                          VALUES 
                              (%s, %s, %s, %s, %s, %s) 
                          ON CONFLICT DO NOTHING;
                          """

In [ ]:
conn = psycopg2.connect("dbname='amtrakproject' user='{}' password={}".format(os.environ.get('USER'), os.environ.get('DB_PASS')))
assert conn is not None, 'need to fix conn!!'

In [ ]:
# Create station link table
create_table(conn, create_station_info_table)

# Create route coordinates table
create_table(conn, create_route_table)

In [ ]:
# Insert all station facts into station info table
update_table(conn, insert_into_station_info_table, './data/facts/geo_stations_info.csv')

# Insert route with the coordinates into route table
update_table(conn, insert_into_route_table, './data/facts/NE_regional_lonlat.csv')

In [ ]:
create_table(conn, create_trains_table)
years = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]

# Insert all train data into arrival and departure data tables
begin_everything = time.time()
for year in years:
    start = time.time()
    arrive_csv = './data/trains/arrive_{}_processed.csv'.format(year)
    depart_csv = './data/trains/depart_{}_processed.csv'.format(year)
    update_trains(conn, insert_into_trains_table, 'Arrival', arrive_csv)
    update_trains(conn, insert_into_trains_table, 'Departure', depart_csv)
    print('Finished adding year', year, 'to database in', time.time() - start, 'seconds')
print('COMPLETE in', time.time() - begin_everything)

In [ ]:
create_table(conn, create_weather_table)
location_names_for_files = ['Boston_MA', 'Providence_RI', 'Kingston_RI', 'Westerly_RI', 'Mystic_CT',
                            'New_London_CT', 'Old_Saybrook_CT', 'New_Haven_CT', 'Bridgeport_CT', 
                            'Stamford_CT', 'New_Rochelle_NY', 'Manhattan_NY', 'Newark_NJ', 'Iselin_NJ', 
                            'Trenton_NJ', 'Philadelphia_PA', 'Wilmington_DE','Aberdeen_MD', 'Baltimore_MD',
                            'Baltimore_BWI_Airport_MD', 'New_Carrollton_MD', 'Washington_DC']

years = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]

# Insert all weather data into the weather data table
begin_everything = time.time()
for location in location_names_for_files:
    start = time.time()
    for year in years:
        weather_csv = './data/weather/{}_weather_subset_{}.csv'.format(location, year)
        update_table(conn, insert_into_weather_table, weather_csv)
    print('Finished adding location', location, 'to database in', time.time() - start, 'seconds')
print("COMPLETE in", time.time() - begin_everything)