# SQL Queries / Data Exploration

### Setup

In [1]:
%load_ext sql

In [2]:
%sql postgresql://appuser:test@localhost:5432/amtrakproject

### Current row counts for each table

In [3]:
%%sql

SELECT
    COUNT(*)
FROM
    departures;

 * postgresql://appuser:***@localhost:5432/amtrakproject
1 rows affected.

[(793126,)]

In [4]:
%%sql 

SELECT
    COUNT(*)
FROM
    arrivals;

 * postgresql://appuser:***@localhost:5432/amtrakproject
1 rows affected.

[(104255,)]

In [5]:
%%sql

SELECT
    COUNT(*)
FROM
    weather_hourly;

 * postgresql://appuser:***@localhost:5432/amtrakproject
1 rows affected.

[(1350082,)]

### Distinct weather conditions values

In [6]:
%%sql

SELECT
    DISTINCT conditions,
    COUNT(conditions)
FROM
    weather_hourly
GROUP BY
    conditions
ORDER BY
    conditions ASC;

 * postgresql://appuser:***@localhost:5432/amtrakproject
9 rows affected.

[('Clear', 655470),
 ('Overcast', 335367),
 ('Partially cloudy', 261152),
 ('Rain', 22498),
 ('Rain, Overcast', 54015),
 ('Rain, Partially cloudy', 12788),
 ('Snow', 3620),
 ('Snow, Overcast', 3480),
 ('Snow, Partially cloudy', 1692)]

### Column names for each table

In [7]:
%%sql

SELECT
    column_name
FROM
    information_schema.columns
WHERE
    table_name = 'departures';

 * postgresql://appuser:***@localhost:5432/amtrakproject
17 rows affected.

[('dataset_id',),
 ('train_num',),
 ('station_code',),
 ('direction',),
 ('origin_date',),
 ('origin_year',),
 ('origin_month',),
 ('origin_week_day',),
 ('full_sched_dep_datetime',),
 ('sched_dep_date',),
 ('sched_dep_week_day',),
 ('sched_dep_time',),
 ('act_dep_time',),
 ('depart_diff',),
 ('service_disruption',),
 ('cancellations',),
 ('arrive_diff',)]

In [8]:
%%sql

SELECT
    column_name
FROM
    information_schema.columns
WHERE
    table_name = 'train_info';

 * postgresql://appuser:***@localhost:5432/amtrakproject
13 rows affected.

[('train_info_id',),
 ('train_num',),
 ('operating_direction',),
 ('reg_operates_on_mon',),
 ('reg_operates_on_tues',),
 ('reg_operates_on_wed',),
 ('reg_operates_on_thurs',),
 ('reg_operates_on_fri',),
 ('reg_operates_on_sat',),
 ('reg_operates_on_sun',),
 ('depart_origin_time',),
 ('depart_ny_time',),
 ('arrive_dest_time',)]

In [9]:
%%sql

SELECT
    column_name
FROM
    information_schema.columns
WHERE
    table_name = 'weather_hourly';

 * postgresql://appuser:***@localhost:5432/amtrakproject
10 rows affected.

[('weather_id',),
 ('location',),
 ('date_time',),
 ('latitude',),
 ('longitude',),
 ('temperature',),
 ('precipitation',),
 ('cloud_cover',),
 ('conditions',),
 ('precip_type',)]

In [10]:
%%sql

SELECT
    column_name
FROM
    information_schema.columns
WHERE
    table_name = 'station_info';

 * postgresql://appuser:***@localhost:5432/amtrakproject
10 rows affected.

[('station_info_id',),
 ('station_code',),
 ('station_name',),
 ('state',),
 ('amtrak_city',),
 ('weather_loc',),
 ('longitude',),
 ('latitude',),
 ('nb_mile',),
 ('sb_mile',)]

### Show train #, average depart offset, average temperature, weather conditions, and number of instances
* Largest 20 average depart offsets
* For Providence, RI only
* Rather simplistic join w.r.t timing but it is a starting point
* Group by train numbers and weather conditions

In [11]:
%%sql

SELECT
    d.train_num,
    CAST(AVG(d.depart_diff) AS INTEGER) AS avg_depart_diff,
    CAST(AVG(wh.temperature) AS INTEGER) AS avg_temp,
    wh.conditions,
    COUNT(*) AS n_instances
FROM
    departures d
    INNER JOIN (
        SELECT
            temperature,
            conditions, 
            date_time
        FROM
            weather_hourly
        WHERE
            location = 'Providence, RI'
    ) wh ON DATE_TRUNC('hour', d.full_sched_dep_datetime) = wh.date_time
WHERE
    d.station_code = 'PVD'
GROUP BY
    d.train_num,
    wh.conditions
ORDER BY
    avg_depart_diff DESC
LIMIT 
    20;

 * postgresql://appuser:***@localhost:5432/amtrakproject
20 rows affected.

[('168', 171, 26, 'Snow, Partially cloudy', 1),
 ('99', 144, 11, 'Snow, Partially cloudy', 2),
 ('88', 83, 25, 'Snow, Partially cloudy', 6),
 ('167', 68, 35, 'Snow', 6),
 ('94', 63, 28, 'Snow, Partially cloudy', 6),
 ('166', 61, 56, 'Rain, Partially cloudy', 1),
 ('139', 61, 21, 'Snow, Overcast', 3),
 ('161', 60, 30, 'Snow', 7),
 ('166', 60, 30, 'Snow', 2),
 ('82', 60, 29, 'Snow, Partially cloudy', 2),
 ('164', 59, 39, 'Rain, Partially cloudy', 6),
 ('67', 58, 25, 'Snow, Overcast', 15),
 ('172', 56, 31, 'Snow, Partially cloudy', 11),
 ('94', 55, 27, 'Snow, Overcast', 13),
 ('166', 53, 21, 'Snow, Overcast', 3),
 ('88', 49, 30, 'Snow, Overcast', 9),
 ('170', 47, 24, 'Snow, Overcast', 18),
 ('164', 45, 32, 'Snow, Overcast', 2),
 ('173', 44, 25, 'Snow, Overcast', 13),
 ('172', 43, 29, 'Snow, Overcast', 22)]

### Show direction, average depart offset, average temperature, weather conditions, and number of instances
* Same as previous query but group by direction of travel (and weather conditions) rather than train number

In [12]:
%%sql

SELECT
    d.direction,
    CAST(AVG(d.depart_diff) AS INTEGER) AS avg_depart_diff,
    CAST(AVG(wh.temperature) AS INTEGER) AS avg_temp,
    wh.conditions,
    COUNT(*) AS n_instances
FROM
    departures d
    INNER JOIN (
        SELECT
            temperature,
            conditions,
            date_time
        FROM
            weather_hourly
        WHERE
            location = 'Providence, RI'
    ) wh ON DATE_TRUNC('hour', d.full_sched_dep_datetime) = wh.date_time
WHERE
    d.station_code = 'PVD'
GROUP BY
    wh.conditions, d.direction
ORDER BY
    avg_depart_diff DESC,
    wh.conditions;

 * postgresql://appuser:***@localhost:5432/amtrakproject
18 rows affected.

[('Northbound', 33, 26, 'Snow, Partially cloudy', 95),
 ('Northbound', 31, 27, 'Snow, Overcast', 188),
 ('Northbound', 25, 29, 'Snow', 127),
 ('Northbound', 23, 49, 'Rain, Partially cloudy', 88),
 ('Northbound', 22, 52, 'Rain, Overcast', 917),
 ('Southbound', 22, 26, 'Snow, Overcast', 184),
 ('Southbound', 19, 25, 'Snow, Partially cloudy', 107),
 ('Northbound', 17, 57, 'Overcast', 5628),
 ('Northbound', 16, 53, 'Clear', 10416),
 ('Northbound', 16, 59, 'Partially cloudy', 5232),
 ('Northbound', 16, 48, 'Rain', 611),
 ('Southbound', 15, 28, 'Snow', 131),
 ('Southbound', 10, 50, 'Rain, Partially cloudy', 94),
 ('Southbound', 5, 49, 'Rain', 695),
 ('Southbound', 5, 51, 'Rain, Overcast', 1027),
 ('Southbound', 4, 52, 'Clear', 11437),
 ('Southbound', 4, 56, 'Overcast', 6359),
 ('Southbound', 4, 57, 'Partially cloudy', 5809)]

### Show direction, station,  average delays, weather conditions (either rain or clear) filtered by direction of travel and weather conditions include snow
### Show train #, average depart offset, average temperature, weather conditions, and number of instances

In [13]:
%%sql 

SELECT
    d.direction,
    d.station_code,
    CAST(AVG(d.depart_diff) AS INTEGER) AS avg_depart_diff,
    wh.conditions,
    COUNT(*) AS n_instances
FROM
    departures d
    INNER JOIN (
        SELECT
            conditions,
            date_time,
            location,
            si.station_code AS station_code
        FROM
            weather_hourly wh
            INNER JOIN (
                SELECT
                    station_code,
                    weather_loc
                FROM
                    station_info
            ) si ON wh.location = si.weather_loc
    ) wh ON DATE_TRUNC('hour', d.full_sched_dep_datetime) = wh.date_time
    AND wh.station_code = d.station_code
WHERE
    wh.conditions LIKE 'Rain%' OR wh.conditions = 'Clear'
GROUP BY
    d.direction,
    wh.conditions, 
    d.station_code
ORDER BY
    n_instances DESC;

 * postgresql://appuser:***@localhost:5432/amtrakproject
128 rows affected.

[('Southbound', 'KIN', 5, 'Clear', 25952),
 ('Southbound', 'BAL', 13, 'Clear', 23520),
 ('Northbound', 'KIN', 16, 'Clear', 23450),
 ('Northbound', 'BAL', 7, 'Clear', 22069),
 ('Southbound', 'NLC', 7, 'Clear', 17816),
 ('Southbound', 'NYP', 7, 'Clear', 17317),
 ('Northbound', 'NLC', 15, 'Clear', 16139),
 ('Northbound', 'NYP', 8, 'Clear', 15969),
 ('Southbound', 'WIL', 13, 'Clear', 14304),
 ('Southbound', 'NCR', 18, 'Clear', 13516),
 ('Northbound', 'WIL', 8, 'Clear', 13197),
 ('Southbound', 'NHV', 7, 'Clear', 12794),
 ('Northbound', 'NHV', 13, 'Clear', 12044),
 ('Northbound', 'TRE', 11, 'Clear', 11894),
 ('Northbound', 'NCR', 7, 'Clear', 11885),
 ('Southbound', 'BOS', 1, 'Clear', 11709),
 ('Southbound', 'TRE', 11, 'Clear', 11469),
 ('Southbound', 'PVD', 4, 'Clear', 11437),
 ('Southbound', 'RTE', 3, 'Clear', 11308),
 ('Northbound', 'PVD', 16, 'Clear', 10416),
 ('Southbound', 'BBY', 2, 'Clear', 10347),
 ('Northbound', 'RTE', 8, 'Clear', 9870),
 ('Northbound', 'WAS', 5, 'Clear', 9473),
 ('Northbound', 'BBY', 5, 'Clear', 8025),
 ('Southbound', 'STM', 11, 'Clear', 7993),
 ('Northbound', 'STM', 12, 'Clear', 7739),
 ('Southbound', 'PHL', 10, 'Clear', 2339),
 ('Northbound', 'PHL', 7, 'Clear', 2266),
 ('Southbound', 'BWI', 14, 'Clear', 2031),
 ('Northbound', 'BWI', 6, 'Clear', 1929),
 ('Southbound', 'PHL', 15, 'Rain, Overcast', 1784),
 ('Southbound', 'BAL', 17, 'Rain', 1698),
 ('Northbound', 'PHL', 11, 'Rain, Overcast', 1632),
 ('Southbound', 'NWK', 11, 'Rain, Overcast', 1625),
 ('Northbound', 'TRE', 14, 'Rain, Overcast', 1593),
 ('Southbound', 'TRE', 15, 'Rain, Overcast', 1567),
 ('Northbound', 'BAL', 11, 'Rain', 1539),
 ('Southbound', 'BWI', 19, 'Rain, Overcast', 1538),
 ('Northbound', 'NWK', 15, 'Rain, Overcast', 1466),
 ('Southbound', 'NWK', 7, 'Clear', 1428),
 ('Northbound', 'NWK', 11, 'Clear', 1427),
 ('Southbound', 'WIL', 16, 'Rain, Overcast', 1419),
 ('Northbound', 'BWI', 10, 'Rain, Overcast', 1395),
 ('Southbound', 'NYP', 11, 'Rain', 1368),
 ('Northbound', 'WIL', 10, 'Rain, Overcast', 1290),
 ('Southbound', 'STM', 14, 'Rain, Overcast', 1207),
 ('Northbound', 'NYP', 12, 'Rain', 1147),
 ('Northbound', 'STM', 16, 'Rain, Overcast', 1115),
 ('Southbound', 'BOS', 1, 'Rain, Overcast', 1082),
 ('Southbound', 'RTE', 3, 'Rain, Overcast', 1028),
 ('Southbound', 'PVD', 5, 'Rain, Overcast', 1027),
 ('Northbound', 'PVD', 22, 'Rain, Overcast', 917),
 ('Northbound', 'RTE', 16, 'Rain, Overcast', 905),
 ('Southbound', 'BBY', 2, 'Rain, Overcast', 890),
 ('Southbound', 'BOS', 1, 'Rain', 875),
 ('Southbound', 'NCR', 20, 'Rain, Overcast', 866),
 ('Northbound', 'WAS', 7, 'Rain, Overcast', 859),
 ('Southbound', 'RTE', 3, 'Rain', 854),
 ('Northbound', 'NCR', 7, 'Rain, Overcast', 824),
 ('Southbound', 'NHV', 9, 'Rain, Overcast', 791),
 ('Southbound', 'BBY', 2, 'Rain', 769),
 ('Northbound', 'NHV', 17, 'Rain, Overcast', 750),
 ('Northbound', 'RTE', 13, 'Rain', 742),
 ('Southbound', 'PVD', 5, 'Rain', 695),
 ('Southbound', 'NYP', 9, 'Rain, Overcast', 654),
 ('Southbound', 'NLC', 9, 'Rain, Overcast', 654),
 ('Northbound', 'BBY', 11, 'Rain', 631),
 ('Northbound', 'BBY', 15, 'Rain, Overcast', 613),
 ('Northbound', 'PVD', 16, 'Rain', 611),
 ('Northbound', 'NLC', 21, 'Rain, Overcast', 600),
 ('Southbound', 'NLC', 9, 'Rain', 596),
 ('Southbound', 'NHV', 9, 'Rain, Partially cloudy', 591),
 ('Northbound', 'NYP', 12, 'Rain, Overcast', 562),
 ('Northbound', 'NHV', 13, 'Rain, Partially cloudy', 544),
 ('Northbound', 'NLC', 15, 'Rain', 520),
 ('Southbound', 'WIL', 18, 'Rain, Partially cloudy', 470),
 ('Northbound', 'WAS', 7, 'Rain', 451),
 ('Southbound', 'NCR', 24, 'Rain, Partially cloudy', 443),
 ('Southbound', 'STM', 12, 'Rain, Partially cloudy', 434),
 ('Southbound', 'NYP', 8, 'Rain, Partially cloudy', 405),
 ('Northbound', 'STM', 16, 'Rain, Partially cloudy', 404),
 ('Northbound', 'WIL', 13, 'Rain, Partially cloudy', 390),
 ('Northbound', 'NYP', 8, 'Rain, Partially cloudy', 374),
 ('Northbound', 'NCR', 10, 'Rain, Partially cloudy', 372),
 ('Southbound', 'KIN', 4, 'Rain', 345),
 ('Southbound', 'BWI', 24, 'Rain, Partially cloudy', 341),
 ('Northbound', 'WAS', 5, 'Rain, Partially cloudy', 298),
 ('Southbound', 'NWK', 9, 'Rain, Partially cloudy', 293),
 ('Northbound', 'KIN', 12, 'Rain', 274),
 ('Southbound', 'STM', 15, 'Rain', 264),
 ('Northbound', 'STM', 19, 'Rain', 249),
 ('Northbound', 'NWK', 14, 'Rain, Partially cloudy', 242),
 ('Northbound', 'BWI', 7, 'Rain, Partially cloudy', 231),
 ('Southbound', 'NCR', 28, 'Rain', 186),
 ('Northbound', 'BBY', 20, 'Rain, Partially cloudy', 160),
 ('Southbound', 'TRE', 15, 'Rain, Partially cloudy', 160),
 ('Northbound', 'RTE', 19, 'Rain, Partially cloudy', 158),
 ('Southbound', 'BOS', 4, 'Rain, Partially cloudy', 156),
 ('Northbound', 'NCR', 14, 'Rain', 149),
 ('Southbound', 'RTE', 7, 'Rain, Partially cloudy', 149),
 ('Northbound', 'TRE', 11, 'Rain, Partially cloudy', 143),
 ('Southbound', 'BBY', 8, 'Rain, Partially cloudy', 141),
 ('Southbound', 'NLC', 11, 'Rain, Partially cloudy', 134),
 ('Northbound', 'NLC', 24, 'Rain, Partially cloudy', 134),
 ('Southbound', 'WIL', 24, 'Rain', 127),
 ('Northbound', 'NHV', 14, 'Rain', 123),
 ('Southbound', 'NHV', 11, 'Rain', 122),
 ('Northbound', 'WIL', 12, 'Rain', 99),
 ('Southbound', 'PVD', 10, 'Rain, Partially cloudy', 94),
 ('Southbound', 'BAL', 16, 'Rain, Overcast', 89),
 ('Northbound', 'PVD', 23, 'Rain, Partially cloudy', 88),
 ('Northbound', 'BAL', 5, 'Rain, Overcast', 74),
 ('Southbound', 'TRE', 18, 'Rain', 59),
 ('Northbound', 'TRE', 15, 'Rain', 54),
 ('Southbound', 'PHL', 16, 'Rain, Partially cloudy', 41),
 ('Northbound', 'PHL', 22, 'Rain', 38),
 ('Southbound', 'PHL', 20, 'Rain', 31),
 ('Northbound', 'BWI', 12, 'Rain', 27),
 ('Southbound', 'BAL', 48, 'Rain, Partially cloudy', 23),
 ('Northbound', 'PHL', 4, 'Rain, Partially cloudy', 18),
 ('Southbound', 'BWI', 31, 'Rain', 16),
 ('Northbound', 'BAL', 6, 'Rain, Partially cloudy', 14),
 ('Southbound', 'NWK', 19, 'Rain', 11),
 ('Northbound', 'KIN', 5, 'Rain, Overcast', 5),
 ('Northbound', 'NWK', 46, 'Rain', 4),
 ('Southbound', 'KIN', 2, 'Rain, Overcast', 4),
 ('Southbound', 'KIN', 2, 'Rain, Partially cloudy', 3),
 ('Northbound', 'KIN', 1, 'Rain, Partially cloudy', 2)]