In [1]:
%load_ext sql

In [2]:
%sql postgresql://elizabethchen:test@localhost:5432/amtrakproject

In [3]:
%%sql

SELECT
    COUNT(*)
FROM
    all_trains;

 * postgresql://elizabethchen:***@localhost:5432/amtrakproject
1 rows affected.

[(1238035,)]

In [4]:
%%sql

SELECT
    COUNT(*)
FROM
    weather_hourly;

 * postgresql://elizabethchen:***@localhost:5432/amtrakproject
1 rows affected.

[(1989258,)]

In [5]:
%%sql

SELECT
    DISTINCT conditions,
    COUNT(conditions)
FROM
    weather_hourly
GROUP BY
    conditions
ORDER BY
    conditions ASC;

 * postgresql://elizabethchen:***@localhost:5432/amtrakproject
6 rows affected.

[('Clear', 750257),
 ('Overcast', 569670),
 ('Partially cloudy', 500780),
 ('Rain', 11913),
 ('Rain, Overcast', 125908),
 ('Rain, Partially cloudy', 30730)]

In [7]:
%%sql

SELECT
    DISTINCT weather_type,
    COUNT(weather_type)
FROM
    weather_hourly
GROUP BY
    weather_type
ORDER BY
    COUNT(weather_type) DESC
LIMIT 25;

 * postgresql://elizabethchen:***@localhost:5432/amtrakproject
25 rows affected.

[('', 1570977),
 ('Mist', 116141),
 ('Light Rain', 69153),
 ('Mist, Light Rain', 59854),
 ('Smoke Or Haze', 19320),
 ('Mist, Fog', 16982),
 ('Fog', 16346),
 ('Mist, Rain, Light Rain', 11625),
 ('Mist, Light Snow', 10863),
 ('Light Snow', 8817),
 ('Mist, Rain, Heavy Rain, Light Rain', 7985),
 ('Mist, Light Drizzle', 7839),
 ('Mist, Smoke Or Haze', 5916),
 ('Mist, Rain, Heavy Rain', 5185),
 ('Mist, Rain', 4758),
 ('Mist, Light Drizzle, Light Rain', 3405),
 ('Light Drizzle', 3081),
 ('Mist, Fog, Light Rain', 2921),
 ('Rain, Light Rain', 2462),
 ('Mist, Heavy Rain, Light Rain', 2133),
 ('Light Drizzle, Light Rain', 1681),
 ('Light Snow, Mist', 1609),
 ('Mist, Light Snow, Light Rain', 1555),
 ('Mist, Light Snow, Fog, Snow', 1512),
 ('Mist, Heavy Rain', 1441)]

In [8]:
%%sql


SELECT
    column_name
FROM
    information_schema.columns
WHERE
    table_name = 'all_trains';

 * postgresql://elizabethchen:***@localhost:5432/amtrakproject
17 rows affected.

[('arr_or_dep',),
 ('train_num',),
 ('station_code',),
 ('direction',),
 ('origin_date',),
 ('origin_year',),
 ('origin_month',),
 ('origin_week_day',),
 ('full_sched_arr_dep_datetime',),
 ('sched_arr_dep_date',),
 ('sched_arr_dep_week_day',),
 ('sched_arr_dep_time',),
 ('act_arr_dep_time',),
 ('full_act_arr_dep_datetime',),
 ('timedelta_from_sched',),
 ('service_disruption',),
 ('cancellations',)]

In [ ]:
%%sql

SELECT
    EXTRACT 
FROM
    all_trains

WHERE 
    origin_year = '2021'